<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

  <context:annotation-config />

  <context:component-scan base-package="it.megadix.orientdb.spring" />
  
  <tx:annotation-driven />

  <bean id="orientDbDatabaseDocument" class="com.orientechnologies.orient.core.db.document.ODatabaseDocumentTx">
    <constructor-arg value="remote:localhost/demo" />
  </bean>

  <bean id="transactionManager" class="it.megadix.orientdb.spring.OrientDbTransactionManager">
    <property name="database" ref="orientDbDatabaseDocument" />
    <property name="username" value="admin" />
    <property name="password" value="admin" />
  </bean>

</beans>